@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body{
    background-color:rgb(252, 178, 36);
}

 html, body{
    margin: 0;
    padding: 0;

 }

header{
    position: relative;
    text-align: center;
    background-image: url(img/surge-background-1.jpg);
    background-size: cover;
    padding: 70px;
}


#header-logo {
  width: 25%;
  height: 100%;
  border: 20px solid black; 
  border-radius: 0%;
  background-position: center;
}

header h1{
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: 10px 20px 30px 40px; /* Top: 10px, Right: 20px, Bottom: 30px, Left: 40px */
  color: gold;
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* offset-x, offset-y, blur-radius, color */
  }
  
  h2{
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: auto; /* Top: 10px, Right: 20px, Bottom: 30px, Left: 40px */
  color: rgb(251, 2, 68);
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* offset-x, offset-y, blur-radius, color */
  }

#About_Surge{
  margin: center;
}
 #About_Surge_image { 
  float: right;
  width: 45%; /* Adjust as needed */
  height: auto; /* Maintains aspect ratio */
  margin: 50px;
  }

  #About_Surge_text{
    text-align: right;
    font-family: "Jersey 10", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    background-position: left;
    margin: right; /* Top: 10px, Right: 20px, Bottom: 30px, Left: 40px */
  }


main {
   width: auto;
   margin: 0 auto;

  }


  
